
@import 'tailwindcss';


@theme {
  --font-display: 'Poppins', sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --text-md: 1rem;
  --breakpoint-xxs: 400px;
  --breakpoint-xs: 480px;
  --color-dark-text: #9E99B9;
  --color-dark-secondary: #2A273A;
  --color-light-primary: #121118;
  --color-light-btn: #4755D1;
  --color-light-secondary: #1D1B27;
  --color-light-text: #ffff;
}


.ant-breadcrumb-link > a {
  color: white !important;
}
.ant-breadcrumb-link  {
  color: white !important;
}

.ant-breadcrumb-separator {
  color: white !important;
}


*{
  font-family: 'Poppins', sans-serif;
}

:where(.css-dev-only-do-not-override-l9pxc0).ant-spin .ant-spin-dot-item {
  background: #797979;
}